html {
    font-size: 10px; /* px means "pixels": the base font size is noww 10 pixels high */
    font-family: 'Oswald', sans-serif; /* this is the rest of the output i got from google fonts */
}

h1 {
    font-size: 65px;
    text-align: center;

}

p, li {
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;

}
html {
    background-color: rgb(58, 55, 50);
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 10px solid black;
}
img {
    display: block;
    width: 500px;
    margin: 0 auto;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: black;
    text-shadow: 3px 3px 1px grey;
    }
